.custom-center {
    text-align: center;
    padding: 5px;
   }
.custom-p{
    font-weight: bolder;
}
.custom-container {
    text-align: center;
    padding: 10px;
    justify-content: center;
    column-gap: 2px;
    align-content: center;
}

